@model IList<Shared.DTOs.ClientSecretDto>
@using Shared.DTOs
@{
    ViewData["Title"] = "My apps";
    ViewData["console"] = "active";
}
@section Styles{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                My secret
                <span class="d-block text-muted pt-2 font-size-sm">ສ້າງ Apps(Secret)</span>
            </h3>
        </div>
     
    </div>
    <div class="card-body">

        <form class="form" id="form-save" data-ajax="true" data-ajax-url="Secret" data-ajax-method="post" data-ajax-begin="begin" data-ajax-complete="completed" data-ajax-failure="failed">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    <div class="my-5">
                        @await Html.PartialAsync("CreateSecret", new ClientSecretDto() { AppID = ViewData["AppID"].ToString() })
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary font-weight-bolder" id="btn-submit">
                            <i class="ki ki-check icon-sm"></i>
                            Save Form
                        </button>
                    </div>
                </div>
                <div class="col-xl-2"></div>
            </div>
        </form>
    </div>
</div>
<hr />
<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                My secret
                <span class="d-block text-muted pt-2 font-size-sm">ສະແດງລາຍການ Apps(Secret)</span>
            </h3>
        </div>
        <div class="card-toolbar">

        </div>
    </div>
    <div class="card-body">
        <!--begin: Search Form-->
        <!--begin::Search Form-->
        <div class="mb-7">
            <div class="row align-items-center">
                <div class="col-lg-9 col-xl-8">

                </div>
            </div>
        </div>
        <!--end::Search Form-->
        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom table-checkable" id="kt_datatable">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Expiration</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.type</td>
                            <td>@item.description</td>
                            <td>@item.expiration</td>
                            <td nowrap>

                                <a href="#" data-id="@item.Id" data-name="@item.description" data-rev="@item.Revision" class="btn btn-icon btn-light btn-hover-danger btn-sm delItem" title="Delete">
                                    <span class="svg-icon svg-icon-md svg-icon-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />\
                                                <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />\
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                }

            </tbody>

        </table>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
<form data-ajax="true" data-ajax-url="Myapps/Delete" data-ajax-method="post" data-ajax-begin="begin" data-ajax-complete="completed" data-ajax-failure="failed" id="form-delete">
    <input type="hidden" name="id" id="id" value="" />
    <input type="hidden" name="rev" id="rev" value="" />
</form>
@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            var arrows;
            if (KTUtil.isRTL()) {
                arrows = {
                    leftArrow: '<i class="la la-angle-right"></i>',
                    rightArrow: '<i class="la la-angle-left"><i>'
                }
            } else {
                arrows = {
                    leftArrow: '<i class="la la-angle-left"><i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                }
            }
            $('.datepk').datepicker({
                rtl: KTUtil.isRTL(),
                todayHighlight: true,
                orientation: "bottom left",
                templates: arrows
            });
            $('#generate-guid-button').on('click', function () {
                $('#value').val(guid());
            });
        });
    </script>
    <script>
        var KTDatatablesBasicPaginations = function () {

            var initTable1 = function () {
                var table = $('#kt_datatable');
                // begin first table
                table.DataTable({
                    responsive: true,
                    pagingType: 'full_numbers',
                    columnDefs: [],
                });
            };

            return {

                //main function to initiate the module
                init: function () {
                    initTable1();
                },

            };

        }();

        $(document).ready(function () {
            KTDatatablesBasicPaginations.init();
        });
        //List item click for delete
        $(document).on('click', '.delItem', function () {
            let id = $(this).data('id');
            let name = $(this).data('name');
            let rev = $(this).data('rev');
            $('#id').val(id);
            $('#rev').val(rev);
            //Message comfirm delete item
            Swal.fire({
                text: 'Do you want to delete "' + name + '"?',
                icon: "warning",
                showCancelButton: true,
                cancelButtonText: 'cancel',
                buttonsStyling: false,
                confirmButtonText: "Delete",
                customClass: {
                    confirmButton: "btn font-weight-bold btn-light-danger",
                    cancelButton: "btn font-weight-bold btn-light-default"
                }
            }).then(function (result) {
                if (result.value) {
                    //Submit form
                    $('#form-delete').submit();
                }

            });
        });
        //begin submit form
        begin = function (xhr) {
            Loading('body');
        };
        //complete submit form
        completed = function (xhr) {
                    let data = xhr.responseJSON;
                     if (data.code == 200) {
                         setTimeout(function () {
                             CompleteLoad('body');
                             window.location.href = '@Url.Action("Secret","MyApps")';
                         }, 1000);
                     }
                     else
                     {
                         CompleteLoad('body');
                         Swal.fire({
                             text: data.message,
                             icon: "error",
                             buttonsStyling: false,
                             confirmButtonText: "Cancel",
                             customClass: {
                                 confirmButton: "btn font-weight-bold btn-light-danger"
                             }
                         });
                     }
        };
        //fail submit form
        failed = function (xhr) {
            CompleteLoad('body');
            Swal.fire({
                text: xhr.statusText,
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Cancel",
                customClass: {
                    confirmButton: "btn font-weight-bold btn-light-danger"
                }
            });
        };

        function guid() {
            return "ss-s-s-s-sss".replace(/s/g, s4);
        }
        function s4() {
            return Math.floor(65536 * (1 + Math.random())).toString(16).substring(1);
        }
    </script>

}